/* ======================================



Universal Styling




==========================================*/

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    color: black;
}

h1,
h2 {
    font-family: 'Archivo Black', sans-serif;
    font-size: 37px;
    text-align: center;
    letter-spacing: 1px;
}

main,
h1 {
    padding-top: 80px;
}


/* ==========================================

Header


==============================================*/

header {
    background: #f5e1a9;
    height: 80px;
    position: fixed;
    width: 100%;
    top: 0px;
    z-index: 99;
}

header ul li {
    display: inline-block;
    width: 15%;
    text-align: center;
    background: #3b82bf;
    padding: 11px;
    border-radius: 10px;
    margin: 19px 6px;
    box-shadow: 3px 2px 3px #7d7d7d;
    letter-spacing: 1px;
    transition: .2s;
}

header ul li:hover {
    background: #499feb;
    transition: 0.2s;
}

nav {
    width: 900px;
    margin: 0 auto;
    text-align: center;
    height: 80px;
    position: relative;
}

nav ul {
    list-style-type: none;
}

nav ul li a {
    color: #f2f2f2;
    text-decoration: none;
}

header img {
    float: left;
    margin: 7px 0;
    padding-left: 45px;
}

.covidbutton {
    font-size: 12.5px;
    padding: 14px 11px 12px;
}

.animate {
    position: absolute;
    top: 0px;
    right: 790px;
    animation: wink 0.9s 1s infinite;
}

::selection {
    background: #f2c06396;
}


/* ===========================================


lightbox



=============================================*/

.gallery {
    margin: 100px auto 400px auto;
    max-width: 1213px;
}

.gallery img {
    display: inline;
}


/* ===========================================


Footer Styling


=============================================*/

footer {
    background-color: #f5e1a9;
}

footer nav {
    height: 80px;
}

footer div {
    display: inline-block;
}

footer img {
    float: left;
}

footer nav ul {
    float: right;
}

footer nav ul li {
    display: inline;
    padding: 0 35px;
}

.myname {
    width: 600px;
    font-size: 11px;
}

.myname a {
    text-decoration: none;
    color: #3b82bf;
    transition: .3s;
}

.myname a:hover {
    color: #499feb;
    transition: .3s;
}

.footertop {
    width: 600px;
    padding: 13px 0 3px 0;
}

.fab {
    color: #3b82bf;
    font-size: 35px;
    transition: .3s;
}

.fab:hover {
    color: #499feb;
    transition: .3s;
}


/* ===========================================

Animation Styling

=============================================*/

@keyframes wink {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}